bcp47-picker {
  display: flex;
  width: 600px;
  max-width: 100%; 
  position: relative;
  flex-direction: column;
}

bcp47-picker.loading,
bcp47-picker.loading * {
  cursor: wait;
}

.bcp47-search {
  flex: 1 1 auto;
}

.bcp47-results {
  position: absolute;
  width: 100%;
  top: 40px;
}

.bcp47-current-value-part .bcp47-inner {
  display: flex;
}

.bcp47-current-value-part {
  display: flex;
}

.bcp47-search-wrapper {
  position: relative;
}

.bcp47-results {
  height: 700px;
  max-height: 100vh;
  overflow-y: auto;
}

.bcp47-value-label {
  user-select: none;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bcp47-value-bcp47 {
  flex: 0 0 auto;
  margin-left: 7px;
}

bcp47-picker.bootstrap .bcp47-current-value-part.form-floating input:not(:focus) {
  color: white;
}

bcp47-picker.bootstrap .bcp47-current-value-part.form-floating input:focus ~ .bcp47-current-value-part-value {
      display: none;
    }

bcp47-picker.bootstrap .bcp47-current-value-part.form-floating .bcp47-current-value-part-value {
  position: absolute;
  top: 26px;
  left: 13px;
  pointer-events: none;
}  

.bcp47-remove-value {
  cursor: pointer;
  margin-left: 5px;
}

.bcp47-search.form-control {
  text-overflow: ellipsis;
}

.bcp47-value-wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex !important;
  align-items: center;
}

.bcp47-observer-spacer {
  flex: 0 0 var(--items);
}